@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: 400 1rem Roboto, sans-serif;
  }

  body {
    background: #ffffff;
    color: #182135;
    -webkit-font-smoothing: antialiased;
    font: 400 1rem Roboto, sans-serif;
  }
}
